{% extends "base.html" %}

{% block extra_head %} Authentication {% endblock %}

	{% block main_body %} 
		{{ state }}
		{% if form.errors %}
			<p> Invalid login . Try again </p>
		{% endif %}
		
		<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
			<table>
			<tr>
				<td> {{ form.username.label_tag }} </td>
				<td> {{ form.username }} </td>
			</tr>
			<tr>
				<td> {{ for.password.label_tag }} </td>
				<td> {{ for.password }} </td>
			</tr>
			</table>
			<input type="submit" value="login" />
			<input type="hidden" name="next" value="{{ next }}" />
		</form>
		
	
	{% endblock %} 