 <style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
	clear :both;
}
html { 
	margin-left:auto;
	margin-right:auto;
	height: 100%;
	width: 65%;
 }

.head-main-wrap{
  width:auto;
	height:100%;
	background-color:#cecece;
	background-repeat:no-repeat;
	background-size:cover;
	overflow:hidden;

}
.body-main-wrap{
  width:auto;
        height:100%;
        background-color:#acacac;
        background-repeat:no-repeat;
        background-size:cover;
        overflow:hidden;

}



#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav li {
    float: left;
}

#nav a {
    display: block;
    width: 60px;
    background-color: #dddddd;
}
#user_log_in{
	clear :both;
	float :right;
}



#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
</style> 
